.footer {
    position: fixed; /* Фиксируем футер внизу */
    bottom: 0; /* Прикрепляем к низу */
    left: 0; /* Прикрепляем к левому краю */
    right: 0; /* Прикрепляем к правому краю */
    background-color: #f8f9fa; /* Цвет фона футера */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для отделения от контента */
}

.company-name {
    margin-left: auto; /* Автоматический отступ слева для выравнивания вправо */
}